
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.comodidades-wrapper {
  width: 100%;
}

.comodidades-wrapper p {
    margin-left: 0.3em;
    font-family: 'Fredoka', sans-serif;
    color: #F5F5F5;
    width: 60%;
    font-size: large;
    margin-top: 1vh;
}

.comodidades-container{
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  margin-top: 2vh;
}

#estacionamento_coberto {
  margin-right: 0.5em;
  width: 1.2em;
  height: 1.2em;
  cursor: pointer;
}


.area-texto {
  display: flex;
  align-items: center;
  padding: 1vw;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-size: 1em;
  background: #F5F5F5;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 3vh;
}

@media (max-width:1660px){
  .area-texto{
    width: 14vw;
    height: 8vh;
  }
}


@media (max-width:1460px){
  .area-texto{
    width: 16vw;
    height: 8vh;
  }
}


@media (max-width:1370px){
  .area-texto{
    width: 17vw;
    height: 8vh;
  }

  .comodidades-wrapper p{
    width: 90%;
  }
}

@media (max-width:1200px){
  .area-texto{
    width: 20vw;
    height: 8vh;
  }
}


@media (max-width:1100px){
  .area-texto{
    width: 17vw;
    height: 8vh;
  }
}

@media (max-width:1045px){
  .comodidades-wrapper p{
    width: 90%;
  }
  .area-texto{
    width: 22vw;
    height: 10vh;
    font-size: 1em;
  }
}

@media (max-width:950px){
  .comodidades-wrapper p{
    font-size: medium;
  }
  
  .comodidades-container{
    gap: 0.5em;
  }

  .area-texto{
    width: 25vw;
    height: 10vh;
    font-size: 0.9em;
  }

} 


@media (max-width:850px){
  .area-texto{
    width: 25vw;  
    padding: 2vw;
  }
}

@media (max-width:762px){
  .comodidades-wrapper p{
    font-size: 1em;
    font-weight: 500;
  }

  .area-texto{
    width: 88vw;  
    padding: 2vw;
    font-size: 1em;
    line-height: 1.5em;
  }

  .comodidades-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    font-size: 1.3em;
  }
}


@media (max-width:530px) {
  .comodidades-wrapper p{
    font-size: 1em;
    font-weight: 500;
  }

  .comodidades-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    font-size: 1.1em;
  }


.comodidade-item label {
  display: flex;
  align-items: center;
  gap: 0.6em;
  font-size: 0.8em;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 0.5em;
  border-radius: 10px;
}

.comodidade-item input[type="checkbox"] {
  accent-color: #2c2c2b;
  width: 1.2em;
  height: 1.2em;
  border-radius: 10px;
  border: 2px solid #ffffff;
  margin-right: 0.3em;
  cursor: pointer;
  transition: box-shadow 0.2s;
  padding: 1vw;
}

.comodidade-item input[type="checkbox"]:focus {
  box-shadow: 0 0 0 2px #ffffff91;
    border-radius: 10px;  
  outline: none;
}

.comodidade-subitem label {
  font-size: 0.em;
  color: #ffffff;
  margin-left: 0.5em;
}

.comodidade-subitem input[type="checkbox"] {
  accent-color: #ffffff;
  width: 1em;
  height: 1em;
  margin-right: 0.2em;
}

  .area-texto{
    width:87vw;  

    font-size: 1em;
  }
}


@media (max-width:400px){
  .comodidades-container{
    gap: 0.5em;
    font-size: 0.8em;
  }
  .area-texto{
    width: 80vw;  
    font-size: 0.9em;
  }
}
